<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.blackey.fuel_delivery_app2">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FUEL_DELIVERY_APP2"
        tools:targetApi="31">
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".CardPayment"
            android:exported="false" />
        <activity
            android:name=".paymentMethod"
            android:exported="false" />
        <activity
            android:name=".OrderReview"
            android:exported="false" />
        <activity
            android:name=".checkprice"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyANZ59A6wQHaw-9_AQHGOU44oLokO4ouMk" />

        <activity
            android:name=".NearbyFuelst"
            android:exported="false"
            android:label="@string/title_activity_nearby_fuelst" />
        <activity
            android:name=".Fueltype"
            android:exported="false" />
        <activity
            android:name=".OrderFuel"
            android:exported="false"
            android:label="@string/title_activity_order_fuel" />
        <activity
            android:name=".navigation"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.FUEL_DELIVERY_APP2.NoActionBar" />
        <activity
            android:name=".forgotten_password"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="androidx.navigation.Navigation"
            android:exported="false"
            tools:ignore="Instantiatable" />
    </application>

</manifest>